Source: conditionable
Section: php
Priority: optional
Maintainer: Katharina Drexel <katharina.drexel@bfh.ch>
Build-Depends:
 debhelper-compat (= 13),
 phpab,
 pkg-php-tools,
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/illuminate/conditionable
Vcs-Browser: https://github.com/illuminate/conditionable
Vcs-Git: https://github.com/sunflowerbofh/conditionable.git

Package: php-illuminate-conditionable
Architecture: all
Depends:
 ${misc:Depends},
 ${phpcomposer:Debian-require},
Suggests:
 ${phpcomposer:Debian-suggest},
Replaces:
 ${phpcomposer:Debian-replace},
Conflicts:
 ${phpcomposer:Debian-conflict},
Breaks:
 ${phpcomposer:Debian-replace},
Provides:
 ${phpcomposer:Debian-provide},
Description: Illuminate Conditionable package
 Part of illuminate laravel.
 .
 Illuminate is a collection of PHP library components developed primarily for
 the Laravel framework.
